{% include 'boardHeader' %}
{% include 'postingForm' %}
<hr />
<div class="globalMessage">
    <h3>Now with (-)100% more progress!</h3>
</div>
<hr />
{% include 'boardPage' %}
{% include 'boardFooter' %}
